*{
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(78,160,255);
    height: 125px;
    background-image: url('../img/pattern.png');
    background-size: 400px;
}

.main-title {
    margin-top: 2em;
    margin-bottom: 2em;
}

#the-in-title {
    color: white;
    text-shadow: 2px 2px #b4b4b4;
    font-size: 25px;
    margin-top: 90px;
}

#booleaner-in-title {
    color: white;
    text-shadow: 2px 2px #b4b4b4;
    font-size: 50px;
}

address {
    font-style: normal;
}

.address-title {
    color: rgb(128,128,128);
    font-size: 25px;
}

#author {
    color: rgb(60,180,231);
}

#date {
    display: block;
    font-size: 15px;
    margin-top: 0px;
}

.paragraph {
    margin-top: 1em;
}

.enlighted {
    background-color: yellow;
}

ul {
    margin-top: 1em;
    margin-left: 1em;
}

table {
    margin-top: 2em;
    margin-bottom: 2em;
}

h3 {
    margin-top: 2em;
    color: rgb(128,128,128)
}

article {
    display: block;
}

.related-post {
    margin-top: 1em;
    margin-bottom: 10px;
    display: block;
}
