/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
header {
    background-color: rgb(78,160,255);
    height: 125px;
    line-height: 125px;
    background-image: url('../img/pattern.png');
    background-size: 400px;
    position: relative;
}

h1 {
    font-size: 38px;
}

h2 {
    margin-top: 2em;
    color: rgb(128,128,128)
}

h3 {
    color: white;
    font-size: 1.5em;
    padding: 10px;
}

address {
    font-style: normal;
}

figure {
    margin-top: 30px;
}

ul {
    margin-top: 1em;
    margin-left: 1em;
}

table {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

article {
    padding-bottom: 100px;
}

/* utilities */
.container {
    margin: 0 15%;
}

/* header: banner in alto */
#logo {
    height: 90px;
    vertical-align: middle;
}

/* testata principale + foto */
.header-title {
    margin-top: 2em;
    margin-bottom: 2em;
}

.address-title {
    font-size: 25px;
    color: rgb(128,128,128);
}

#author {
    color: rgb(60,180,231);
}


#date {
    display: block;
    font-size: 15px;
    margin-top: 0px;
}

/* tabella */

thead {
    background-color: rgb(32, 169, 229);
    color: white;
}

.odd-row {
    background-color: rgb(177, 229, 242);
}

.last-cell {
    width: 50%;
}

/* articoli correlati */
#related-article-monitor {
    background-image: url('../img/monitor.jpg');
    height: 200px;
    background-repeat: no-repeat;
    margin-top: 10px;
}

#related-article-graph {
    background-image: url('../img/graph.jpg');
    height: 200px;
    background-repeat: no-repeat;
    margin-top: 10px;
}